{% extends 'base.html' %}
{% block content %}
{% load static %}
<a href="{% url 'main:post-detail' pk=id %}"> <p class="btn btn-primary">назад</p> </a>

<div class="alert alert-dark" role="alert">
<div class="row">
<div class="col-1">
{% for comment in comments %}
{% if comment.author.profile.avatar %} {# це капєц #}
<img src="{{ comment.author.profile.avatar.url }}" class="avatar_comment" alt="">
{% endif %}</div>

<div class="col-11">
<h5>{{ comment.text }}</h5>
</div>
{% endfor %}
  </div>
</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary">Додати</button>
</form>



{% endblock content %}