{% extends 'base.html' %}
{% block content %}

<h2>post detail</h2>

<div class="card overflow-hidden" style="max-width: 700px; max-height: 700px;">
    <div class="card-body">
      <h5 class="card-title">{{ post.profile.author }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        {% if post.media_posts.all|length > 1 %}
        <div class="carousel-indicators">
          {% for media in post.media_posts.all %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" 
            {% if forloop.first %}class="active" aria-current="true"{% endif %} 
            aria-label="Slide {{ forloop.counter }}"></button>
          {% endfor %}
        </div>
        {% endif %}
        <div class="carousel-inner">
          {% for media in post.media_posts.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
             <img src="{{ media.media.url }}" class="d-block w-100 post-detail" alt="Post media {{ forloop.counter }}">
          </div>
          {% endfor %}
        </div>
        {% if post.media_posts.all|length > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
    </div>
</div>

<button class="btn btn-primary like-btn" id="" data-post-id="{{post.id}}">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <i class="bi bi-hand-thumbs-up my-2"></i>
<span class="likes-count">{{ post.like_fast }}</span>
</button>

<a href="{% url 'main:comment-post' post_id=post_id %}" class="btn btn-primary">кометарі поста</a> 

{% endblock content %}