{% extends 'base.html' %}
{% block content %}
    <h2>створення поста</h2>

    <form action="" method="post"  enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
        {{form.as_p}}

        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name="media" multiple required>
          </div>
        <button type="submit" class="btn btn-primary">створити</button>
    </form>

{% comment %} <script>
    function validateForm() {
        var name = document.getElementById("name").value;
        if (name == ""){
            document.getElementById("error").innerText = "Будь ласка введіть імя"
            return false;
        }
        return false;
    }
</script> {% endcomment %}

{% endblock content %}