{% extends 'base.html' %}
{% block content %}

<h2>post detail</h2>



<div class="card overflow-hidden" style="max-width: 700px; max-height: 700px;">
    <div class="card-body">
      <h5 class="card-title">{{ post.profile.author }}</h5>
      <p class="card-text">{{ post.description }}</p>
      <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p>
    </div>

        <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

    {% for media in post.media_posts.all %}
          <div class="carousel-item active">
             <img src="{{ media.media.url }}" class="d-block w-100" alt="...">
          </div>
    {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% comment %} 
    <a href="{% url 'main:post-detail' pk=post.id %}"> <img src="{{ post.media_posts.all.0.media.url }}" class="card-img-bottom" alt="...">
  </a> {% endcomment %}

  </div>

  
<a href="{% url 'main:comment-post' post_id=post_id %}" class="btn btn-primary">кометарі поста</a>
{% endblock content %}