{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">{{ page_title }}</h1>
            
            <!-- Контейнер для постів -->
            <div id="posts-container" style="max-width: 500px;">
                <!-- Сюди будуть додаватися пости через JavaScript -->
            </div>
            
            <div class="text-center mt-4">
                <button id="load-more-btn" class="btn btn-primary">Завантажити ще</button>
            </div>
        </div>
    </div>
</div>


<script>
    let currentPage = 1;

    /**
     * Функція для завантаження і відображення постів
     */
    async function loadPosts() {
        try {
            // Робимо запит до API на отримання постів
            const response = await fetch(`{{ api_url }}?page=${currentPage}`);
            const data = await response.json();
            
            // Отримуємо контейнер для постів
            const postsContainer = document.getElementById('posts-container');
            
            // Додаємо кожен пост на сторінку
            data.results.forEach(post => {
                const postHtml = `

                <h1>${post.description} </h1>
        <div class="card overflow-hidden" style="width: 600px; max-height: 650px;">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-2"><img src="${ post.profile_avatar }" class="avatar_post" alt=""></div>
            <div class="col-4"><h6 class="card-title">${ post.profile_user_email }</h6></div>
          </div>
          <p class="card-text">

            <small class="text-body-secondary">${ post.date_publish }</small>
          </p>
        </div>
                `;
                postsContainer.innerHTML += postHtml;
            });
            
            
            // Перевіряємо, чи є ще пости
            if (!data.next) {
                const loadMoreBtn = document.getElementById('load-more-btn');
                loadMoreBtn.style.display = 'none';            
            }
            
            // Збільшуємо номер сторінки
            currentPage++;
            
        } catch (error) {
            console.error('Помилка завантаження постів:', error);
        }
    }
    

    document.addEventListener('DOMContentLoaded', function() {
        loadPosts();
        // Додаємо обробник кліку для кнопки "Завантажити ще"
        document.getElementById('load-more-btn').addEventListener('click', loadPosts);
        
        // Додаємо обробник кліку для кнопок лайків 
        document.addEventListener('click', function(e) {
            if (e.target.closest('.like-btn')) {
                const postId = e.target.closest('.like-btn').dataset.postId;
                toggleLike(postId);
            }
        });
    });
</script>
{% endblock content %}