{% load static %}
{% load custom_tags %}

<div class="post-list d-flex flex-column align-items-center gap-6 m-3">

    {% for post in posts.all %}
      <div class="card overflow-hidden" style="width: 600px; max-height: 650px;">
        <div class="card-body text-center">
          <div class="row">
            <div class="col-2"><img src="{{ post.profile.avatar.url }}" class="avatar_post" alt=""></div>
            <div class="col-2"><h6 class="card-title">{{ post.profile.user.username }}</h6></div>
          </div>
          <p class="card-text">
            <small class="text-body-secondary">{{ post.date_publish }}</small>
          </p>
        </div>
  
        {% if post.media_posts.all|length > 0 %}
        <a href="{% url 'main:post-detail' pk=post.id %}">
          <div id="carouselExampleIndicators-{{ forloop.counter }}" class="carousel slide">
            {% if post.media_posts.all|length > 1 %}
              <div class="carousel-indicators">
                {% for media in post.media_posts.all %}
                <button type="button" data-bs-target="#carouselExampleIndicators-{{ forloop.parentloop.counter }}" data-bs-slide-to="{{ forloop.counter0 }}" 
                  {% if forloop.first %} class="active" aria-current="true"{% endif %}
                  aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
              </div>
            {% endif %}
            <div class="carousel-inner">
              {% for media in post.media_posts.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% if media.media.url|endswith:".jpg" or media.media.url|endswith:".png" or media.media.url|endswith:".jpeg" %}
                    <img src="{{ media.media.url }}" class="d-block w-100 post-detail" alt="Post image {{ forloop.counter }}">
                  {% elif media.media.url|endswith:".mp4" %}
                    <video controls autoplay muted class="d-block w-100">
                      <source src="{{ media.media.url }}" type="video/mp4">Ваш браузер не підтримує відео
                    </video>
                  {% else %}
                    <a href="{{ media.media.url }}" class="post-file-link">Завантажити файл</a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            {% if post.media_posts.all|length > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-{{ forloop.counter }}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-{{ forloop.counter }}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
          </div>
        </a>
        {% endif %}

        <div class="post_panel">
          <div>
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'main:comments-post' post_id=post.id %}">
                        <i class="bi bi-chat fs-3"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>

        <div>
          <p>{{ post.description }}</p>
        </div>
      </div>
    {% empty %}
      <p class="text-center w-100">Постів немає</p>
    {% endfor %}
</div>
