{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-2 chat-bar" >

    <a class="btn btn-primary" href="{% url 'main:group_create' %}"> + </a>
    <form method="get" action="">
        <input type="text" name="q">
        <button type="submit">знайти</button>
    </form>
    <h4>групи</h4>
   {% for group in groups %}
<div class="card">
    <div class="card-body">
<button class="nav-link active btn btn-lg mt-4" onclick="showGroup({{group.id}})" style="height: 15px;">
{% if group.image_group %}
<img src="{{ group.image_group.url }}" alt="" class="avatar_comment" >
{% else %}
{% endif %}
<p>{{ group.name }}</p>
</button>
</div>
</div>
{% endfor %}
</div>

<div class="col-10 " >


<div class="message-pools">
    {% include 'group/list.html' %}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
    <div class="col-9">{{ form.as_p }}</div>
    <div class="col-2"><button type="submit" class="btn "><i class="bi bi-send-fill"></i></button></div>
</div>
    
    
    <input type="hidden" id="reply" name="reply">
</form>
</div>
</div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const lastGroupId = "{{ last_group_id|default:'' }}";
        if (lastGroupId) {
            showGroup(lastGroupId);
        }
    });

    function showGroup(groupId) {

        window.history.pushState({path: `/group/?last_chat=${groupId}`}, '', `/group/?last_chat=${groupId}`);

        fetch(`/load-data/?id=${groupId}`)

            .then(response => response.json())
            .then(data => {
                console.log(data.result);

                const result = JSON.parse(data.result);
                const container = document.getElementById("message")

                container.innerHTML = "";
                console.log(result.group_id)
                console.log(result.messages)
                if (result.type == 'forum'){
                for (key in result.messages){
                    const message = result.messages[key];
                    console.log(message.id);

                    let html = ``;
                        if (message.soons && Object.keys(message.soons).length > 0) {
                            console.log("Soons:", message.soons);
                            html = `<div class="card">
                            user: ${message.user}
                            пост:${message.id}
                            <b>${message.obj}</b>
                                    <button onclick="addReply(${message.id}) "class='btn btn-primary reply-button'><i class="bi bi-reply"></i>
                             </button>
                            `;
                            html += renderMessages(message.soons);
                        } else {
                            console.log("синів нема:", message.soons);
                            html = `<div class="card">
                            user: ${message.user}
                            пост id${message.id}
                            <b>${message.obj}
                            </b>
                            <button onclick="addReply(${message.id})"class='btn btn-primary reply-button'><i class="bi bi-reply"></i></button>`;
                        }

                    html +=   `</div> <br>`
                    container.innerHTML += html;
                }
                }
                
                else if(result.type == "chat"){
                    console.log("це чат")
                    console.log(result.messages)
                    let html = ''
                    for(key in result.messages){
                        const message = result.messages[key];
                        html = `
                        <div class="card">
                            <img src="${message.avatar}" class="avatar_comment" alt="">
                            parent: ${message.parent}
                            post:${message.id}
                            <b>${message.message}</b>
                            <b>${message.date}</b>
                                    <button onclick="addReply(${message.id})"class='btn btn-primary reply-button'><i class="bi bi-reply"></i></button>
                            </div> <br>
                        `;
                       container.innerHTML += html; 
                    }
                    
                }                    

                
            })
            .catch(error => console.error("Помилка:", error));
    }

function addReply(message_id) {
    console.log(message_id)
    let element = document.getElementById("reply").value = message_id
}

///////////  то шось наподобі parent_structurator(
function renderMessages(messages) {
    let html = "" //це локальна змінна
    for (const key in messages) {  ////цикл
        const message = messages[key];
        html += `<div class="card">
        відповідь${message.id}
        user:${message.user}
        <b>${message.obj}</b>
        <button onclick="addReply(${message.id})"class='btn btn-primary reply-button'><i class="bi bi-reply"></i>
        </button>
        </div>`;

        if (message.soons && Object.keys(message.soons).length > 0) { ///// умова чиє сини
            html += renderMessages(message.soons);
        }
        else{
            console.log(message.id , "немає синів");
        

        }
}
return html;
}
</script>

{% endblock content %}

