{% extends 'base.html' %}
{% block content %}
<h4>групи</h4>
<div class="row">

<div class="col-4">
   {% for group in groups %}

<button class="btn btn-primary btn-lg mt-4" onclick="showGroup({{ group.id }})">
<p>name {{ group.name }}</p>
</button>
{% endfor %}
 
</div>
<div class="col-8 message-pools" style="background-color: whitesmoke;">
    {% include 'group/list.html' %}
</div>
</div>
<script>
    function showGroup(groupId) {
        fetch(`/load-data/?id=${groupId}`)
            .then(response => response.json())
            .then(data => {
                const html = data.message.map(msg => `${msg}`).join(""); {# о цю шт мені підказв chatgpt воно якимось непанятним чиноп ретворює json в нармальний тип данних для виводу в html #}
                console.log(html)
                console.log(data)
                document.getElementsByClassName("message-pools")[0].innerHTML = html

            })
            .catch(error => console.error("Помилка:", error));
    }
    </script>

{% endblock content %}