{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-2 chat-bar" >
    <h4>групи</h4>
   {% for group in groups %}
<div class="card">
    <div class="card-body">
<button class="btn-lg mt-4" onclick="showGroup({{group.id}})">
    
<p>name {{ group.name }}</p>
</button>
</div>
</div>
{% endfor %}
</div>



<div class="col-10 message-pools" >
    
    {% include 'group/list.html' %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">додати</button>
</form>

</div>
</div>


<script>
    function showGroup(groupId) {
        fetch(`/load-data/?id=${groupId}`)

            .then(response => response.json())
            .then(data => {
                console.log(data.result);

                const result = JSON.parse(data.result);
                const container = document.getElementById("message")

                container.innerHTML = "";
                console.log(result.group_id)
                console.log(result.messages)
                if (result.type == 'forum'){
                for (key in result.messages){
                    const message = result.messages[key];
                    console.log(message.id);

                    let html = ``;
                        if (message.soons && Object.keys(message.soons).length > 0) {
                            console.log("Soons:", message.soons);
                            html = `<div class="card">
                            user: ${message.user}
                            пост:${message.id}
                            <b>${message.obj}</b>
                            `;
                            html += renderMessages(message.soons);
                        } else {
                            console.log("синів нема:", message.soons);
                            html = `<div class="card">
                            user: ${message.user}
                            пост id${message.id}
                            <b>${message.obj}
                            </b> `;
                        }

                    html +=   `</div> <br>`
                    container.innerHTML += html;
                }
                }
                
                else if(result.type == "chat"){
                    console.log("це чат")
                    console.log(result.messages)
                    let html = ''
                    for(key in result.messages){
                        const message = result.messages[key];
                        html = `
                        <div class="card">
                            parent: ${message.parent}
                            post:${message.id}
                            <b>${message.message}</b>
                            <b>${message.date}</b>
                            </div> <br>
                        `;
                       container.innerHTML += html; 
                    }
                    
                }                    

                
            })
            .catch(error => console.error("Помилка:", error));
    }

///////////  то шось наподобі parent_structurator(
function renderMessages(messages) {
    let html = "" //це локальна змінна
    for (const key in messages) {  ////цикл
        const message = messages[key];
        html += `<div class="card">
        відповідь${message.id}
        user:${message.user}
        <b>${message.obj}</b>
        </div>`;

        if (message.soons && Object.keys(message.soons).length > 0) { ///// умова чиє сини
            html += renderMessages(message.soons);
        }
        else{
            console.log(message.id , "немає синів");
        

        }
}
return html;
}
</script>

{% endblock content %}

