
<div class="col">
    <div class="row"><button {% url 'main:home' %}> <i class="bi bi-house"></i> Головна</button></div>
    <div class="row"><i class="bi bi-search"></i> Пошук</div>
    <div class="row"><i class="bi bi-compass"></i> Цікаве</div>
    <div class="row"><i class="bi bi-camera-reels"></i> Reels</div>
    <div class="row"><i class="bi bi-chat-dots"></i> Повідомлення</div>
    <div class="row"><i class="bi bi-heart"></i> Сповіщення</div>
    <div class="row"><i class="bi bi-plus-square"></i> Створити</div>
</div>






