<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand fs-3" href="{% url 'main:home' %}"><i class="bi bi-house"></i></a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="{% url 'main:profile-list' %}"><i class="bi bi-person-circle me-1"></i>мій профіль</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="{% url 'main:group' %}"><i class="bi bi-chat-left-text me-1"></i>чати</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="{% url 'main:post-create' %}"><i class="bi bi-plus-circle me-1"></i>створити пост</a>
              </li>
             
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>


{% comment %} <header>

    <div class="row">
    <div class="col-3">
{% if user.is_authenticated %}
    <form method = "post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
{% else %}

    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:register' %}">Register</a>
{% endif %}
</div>
<div class="col-5">

    <a href="{% url 'main:post-create' %}" class="btn btn-primary">створити пост</a>
    <a href="{% url 'main:profile-list' %}" class="btn btn-primary">мій профіль</a>
    <a href="{% url 'main:home' %}" class="btn btn-primary">Головна сторінка</a>
    <a href="{% url 'main:group' %}" class="btn btn-primary">чати</a>
</div>

<div class="col-3">

</div>

<div class="col-1">
    <button type="button" id="theme-inversed" onclick="ajaxInversed()" class="">
        dark theme
    </button>
</div>
</div>
</header>

 {% endcomment %}
