<header>
{% if user.is_authenticated %}
    <form method = "post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    {% comment %} <a href="{% url 'accounts:logout' %}">logout</a> {% endcomment %}
{% else %}

    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:register' %}">Register</a>
{% endif %}

    <a href="{% url 'main:post-create' %}" class="btn btn-primary">створити пост</a>
    <a href="{% url 'main:profile-list' %}" class="btn btn-primary">мій профіль</a>
</header>


