{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}
<h2>ваш профіль</h2>
{% for profile in profiles %}
<h2>імя {{ profile.user }}</h2>
<h2>біографія {{ profile.biography }}</h2>


<h3>аватар </h3>
{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" alt="...">
{% else %}
<img src={% static 'img/no-avatar.jpg' %} alt="">
{% endif %}

<div class="post-list">
{% for post in profile.posts.all %}

<div class="card overflow-hidden" style="width: 300px; height: 300px;">
  <div class="card-body">
    {% comment %} <h5 class="card-title">{{ post.profile.author }}</h5>
    <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p> {% endcomment %}
  </div>
  {% if post.media_posts.all %}
  <a href="{% url 'main:post-detail' pk=post.id %}"> <img src="{{ post.media_posts.all.0.media.url }}" class="card-img-bottom" alt="...">
</a>

  {% endif %}

</div>

{% empty %}
<p>Постів немає</p>
{% endfor %}
</div>

{% endfor %}

{% comment %} <div class="d-flex flex-wrap justify-content-center gap-4">
{% for post in post_list %}

    <div class="col">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{{ post.text }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p>
        </div>
      </div>
</div>


{% endfor %}
</div> {% endcomment %}





{% endblock content %}