{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}
{% comment %} <h2>імя {{ profile.user }}</h2>
<h2>біографія {{ profile.biography }}</h2> {% endcomment %}

{% comment %} <h3>аватар</h3>
{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" class="profile_avatar" alt="...">
{% else %}
<img src="{% static 'img/no-avatar.jpg' %}" alt="">
{% endif %} {% endcomment %}

{% for profile in profiles %}
<div class="profile-header d-flex align-items-center mb-4">
  <div class="profile-avatar-container me-4">
    {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" class="rounded-circle profile_avatar" alt="Avatar" style="width: 150px; height: 150px; object-fit: cover;">
    {% else %}
      <img src="{% static 'img/no-avatar.jpg' %}" class="rounded-circle" alt="No Avatar" style="width: 150px; height: 150px; object-fit: cover;">
    {% endif %}
  </div>
  <div class="profile-info">
    <h2 class="mb-1">{{ profile.user }}</h2>
    <p class="text-muted">{{ profile.biography }}</p>
    <div class="d-flex gap-3">
      <span><strong>{{ profile.posts.count }}</strong> пости</span>
      <span><strong></strong> підписники</span>
      <span><strong></strong> підписки</span>
    </div>
  </div>
</div>

<div class="profile-post-container">
  <div class="row">
    {% for post in profile.posts.all %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card overflow-hidden" style="width: 100%; height: 300px;">
        <div class="card-body">
          <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p>
        </div>
        {% if post.media_posts.all %}
        <a href="{% url 'main:post-detail' pk=post.id %}">
          <img src="{{ post.media_posts.all.0.media.url }}" class="card-img-bottom" alt="...">
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}