{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}
<h2>ваш профіль</h2>
{% for profile in profiles %}
<h2>імя {{ profile.user }}</h2>
<h2>біографія {{ profile.biography }}</h2>


<h3>аватар </h3>
{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" class="profile_avatar" alt="...">
{% else %}
<img src={% static 'img/no-avatar.jpg' %} alt="">
{% endif %}

<div class="post-list">
{% for post in profile.posts.all %}
<div class="room_list d-flex flex-wrap gap-3">
<div class="card overflow-hidden " style="width: 300px; height: 300px;">
  <div class="card-body">
    {% comment %} <h5 class="card-title">{{ post.profile.author }}</h5>
    <p class="card-text"><small class="text-body-secondary">{{ post.date_publish }}</small></p> {% endcomment %}
  </div>
  
  {% if post.media_posts.all %}
  <a href="{% url 'main:post-detail' pk=post.id %}"> <img src="{{ post.media_posts.all.0.media.url }}" class="card-img-bottom" alt="...">
</a>

  {% endif %}
</div>
</div>

{% empty %}
<p>Постів немає</p>
{% endfor %}
</div>

{% endfor %}

{% comment %} 

<style>

@keyframes move {
 0% {
  left: 0;
 }

50% {
  left: 200px;
 }

100% {
  left: 0;
 }

}
  .animated-box{
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
    animation: move 3s infinite;
  }

  .box{
    width: 100px;
    height: 100px;
    background-color: green;
  }

  .box:hover{
    transform: scale(5,5);
  }

  #box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
  }
</style>

<div class="animated-box"></div>
<div class="box"></div>


<button onclick="moveBox()">рухати коробку</button>
  <div id="box"></div>
  <script>
    function moveBox() {
      var box = document.getElementById("box");
      var pos = 0;
      var interval = setInterval(frame, 5);
      function frame() {
        if (pos == 350) {
          clearInterval(interval);
        }else{
          pos++;
          box.style.top = pos + 'px'
          box.style.left = pos + 'px'
        }
      }
    }
  </script>


{% comment %} <div class="row justify-content-center">
  <div class="col-2">

    <button class="btn btn-primary btn-lg" onclick="showMore()">ще</button>
  </div>
</div> 





<div id="content">це початковий текст</div>
<button onclick="changeText()">мігія Змінити текст</button>

<script>
  function changeText() {
    document.getElementById("myButton").addEventListener("click", function ())
    document.getElementById("content").innerHTML = "<b>змінений текст</b>"
    document.getElementById("content").style.color = "red"
  }
</script> {% endcomment %}

 
{% endblock content %}